{% extends "vote/base.html" %}

{% load widget_tweaks %}

{% block title %}Cast Vote{% endblock %}

{% block main %}
<div class="row">
		<div class="col-md-12">

            <section>

            {% if mode == 'start' %}
                <p>{{ message }} is valid!</p>
                <p>Please choose who you are voting for</p>
                <form method="POST">
                    {% csrf_token %}
                    <select name="teachers" id="">
                        {% for teacher in teachers %}
                            <option>{{ teacher.name }}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                    <select name="code" id="pandora">
                        <option>{{ message }}</option>
                    </select>
                    <select name="teacher_type" id="pandora">
                        <option>{{ teacher_type }}</option>
                    </select>
                    <button class="btn btn-success">Select</button>
                </form>

            {% elif mode == 'selected' %}
                <p>Here are {{ teacher }}'s Units:</p>

                <br>
                {% for unit in units %}
                    <span class="unit-odd">{{ unit }}</span>
                {% endfor %}
                <br><br><br>
            <p>Voting with {{ user_code }}</p>
                <p>{{ teacher }}'s total GLH is {{ glhs }}, this gives him {{ aveGlhs }} points </p>
                <p>Give more details, the more questions you answer the more points {{ teacher }} gets.</p>

                <div class="popup" onclick="popupFunc()">
                    What does your answers mean? <i class="fa fa-question-circle fa-lg" aria-hidden="true"></i>
                  <span class="popuptext" id="popupData">
                      <p>No selection: 0 Point.</p>
                      <p> Weak: 1 Point.</p>
                      <p>Solid: 2 Points.</p>
                      <p>Divine: 3 Points.</p>
                  </span>
                </div>

            <form method="POST">
                {% csrf_token %}
                <div class="teacher-details">
                    <select name="teacher_type" id="pandora">
                        <option>{{ teacher_type }}</option>
                    </select>
                    <select name="code" id="pandora">
                        <option>{{ user_code }}</option>
                    </select>
                    <select name="GLH" id="pandora">
                        <option>{{ aveGlhs }}</option>
                    </select>

                    <p>How supportive is the teacher?</p>
                    <input type="radio" id="pandora" name="support" value="0" checked>

                    <input type="radio" id="supportWeak" name="support" value="1">
                    <label for="supportWeak">Weak</label>

                    <input type="radio" id="supportSolid" name="support" value="2">
                    <label for="supportSolid">Solid</label>

                    <input type="radio" id="supportDivine" name="support" value="3">
                    <label for="supportDivine">Divine</label>
                </div>

                <div class="teacher-details-2">
                    <p>How would you rate their teaching style?</p>
                    <input type="radio" id="pandora" name="style" value="0" checked>

                    <input type="radio" id="styleWeak" name="style" value="1">
                    <label for="styleWeak">Weak</label>

                    <input type="radio" id="styleSolid" name="style" value="2">
                    <label for="styleSolid">Solid</label>

                    <input type="radio" id="styleDivine" name="style" value="3">
                    <label for="styleDivine">Divine</label>
                </div>

                <div class="teacher-details">
                    <p>Does the teacher provide useful resources that help with your learning?</p>
                    <input type="radio" id="pandora" name="resources" value="0" checked>

                    <input type="radio" id="resourcesWeak" name="resources" value="1">
                    <label for="resourcesWeak">Weak</label>

                    <input type="radio" id="resourcesSolid" name="resources" value="2">
                    <label for="resourcesSolid">Solid</label>

                    <input type="radio" id="resourcesDivine" name="resources" value="3">
                    <label for="resourcesDivine">Divine</label>
                </div>

                <br>

                <button name="voted" class="btn btn-success" type="submit" value="{{ teacher }}">Vote for {{ teacher }}</button>

            </form>

            {% elif mode == 'voted' %}
                <h1>You have voted successfully</h1>
                <h3>Details of your vote</h3>
                <p>You voted for {{ voted_teacher }} and gave them {{ point }} points</p>
                <a href="{% url 'results' %}" class="btn btn-success">See Results</a>
            {% endif %}
            </section>
		</div>
</div>
{% endblock %}