{% extends "vote/base.html" %}

{% load widget_tweaks %}

{% block title %}Cast Vote{% endblock %}

{% block main %}
<div class="row">
		<div class="col-md-12">

            {% if mode == 'start' %}
                <p>{{ message }}</p>
                <p>Please choose who you are voting for</p>
                <form method="POST">
                    {% csrf_token %}
                    <select name="teachers" id="">
                        {% for teacher in teachers %}
                            <option>{{ teacher.name }}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-success">Select</button>
                </form>
            {% elif mode == 'selected' %}
                <p>Give more details</p>
                <p>Here are {{ teacher }}'s Units:</p>
                {% for unit in units %}
                    <span class="unit-odd">{{ unit }}</span>
                {% endfor %}
                <br><br>
                <button class="btn btn-success">Vote for {{ teacher }}</button>
            {% endif %}
		</div>
</div>
{% endblock %}