{% extends "vote/base.html" %}

{% load widget_tweaks %}

{% block title %}Get Code{% endblock %}

{% block main %}

<div class="row">
    <div class="col-md-12">
        <section>
            <p> Enter your college email to get your code:</p>
            <form method="POST">
                {% csrf_token %}
                <select id="level" name="level">
                    <option>Select level</option>
                    <option value="level 1">Level 1</option>
                    <option value="level 2">Level 2</option>
                    <option value="level 3">Level 3</option>
                </select>
                <br>
                <p class="message">{{ message }}</p>
                <br>
                {% render_field form.email class="code-form" placeholder="Enter College Email" %}<br>
                <p class="message">{{ student }} </p>
                <p class="message">{{ email }} </p>
                <p class="resent">{{ resent }} </p>
                {% if reset == 'true' %}
                        <button class="btn btn-warning" id="reset" name="reset">Resend Code</button>
                {% endif %}
                <br>
                <button class="btn btn-success">Get My Code</button>
            </form>

        </section>
    </div>
</div>

{% endblock %}