{% extends "vote/base.html" %}

{% block title %}Best IT Teacher | Peterborough College{% endblock %}

{% block main %}

<div class="row">
		<div class="col-md-12">

            <section>
                <a href="{% url 'code' %}" class="vote btn btn-secondary">Get Code</a> <br><br>
                <a href="{% url 'voting' %}" class="vote btn btn-primary">Cast A Vote</a> <br>
                <!-- replace # with url of your page -->
                <a href="#" class="vote btn btn-success">See Results</a>
            </section>

		</div>
	</div>

{% endblock %}