{% extends "vote/base.html" %}

{% block title %}Best IT Teacher | Peterborough College{% endblock %}

{% block main %}

<div class="row">
		<div class="col-md-12">

            <section>
                <p>Welcome to Inspire Education Group Student Voting Site,</p>
                <p>Here we vote for the best teacher for the academic year.</p>

                <p id="finished">Voting is now finished, see results below!</p>

                <a href="{% url 'index' %}" class="vote btn btn-secondary" onclick="voteEnd()">Get Code</a> <br><br>
                <a href="{% url 'index' %}" class="vote btn btn-primary">Cast A Vote</a> <br>
                <a href="{% url 'results' %}" class="vote btn btn-success">See Results</a>

                <br><br> <a href="https://docs.google.com/document/d/14LhrWhSP0YzBVImPPuFdOkEAGBql6S2qNHC6fDzZq_k/edit?usp=sharing" class="vote btn btn-info" target="_blank">Read Whitepaper</a>
                <p>For any help and enquiry, email: <a href="mailto:contact@ighomena.me">contact@ighomena.me</a></p>

            </section>

		</div>
	</div>

{% endblock %}