{% extends "vote/base.html" %}

{% block title %}Vote{% endblock %}

{% block main %}
<div class="row">
		<div class="col-md-12">

            <section>
                    <span> Please enter your code to vote:</span><br><br>
                <form method="POST" name="check-code">
                    {% csrf_token %}
                    <input type="text" name="EUC" placeholder="Enter Unique Code" class="code-form"> <br><br>
                    <p class="message">{{ message }}</p><br>
                    <button class="btn btn-success">Check My Code</button>
                </form>
            </section>
		</div>
</div>
{% endblock %}